*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 10px 5%;
    align-items: center;
    background-color: white;
    top:0px;
    z-index: 10;
    border-bottom: solid darkgreen 2px;
    }
    nav .logo{
        width: 100%;
        
    }
nav .logo img{
    width: 180px;
    height: 100px;
    
    
}
nav .dropdown {
    display: flex;
    }
.dropdown a{
    padding: 0px 20px;
    color: green;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
   }
   .dropdown a:hover{
    background-color: darkgreen;
    color: white;
    border-radius: 10px ;
   }
.toggleBTN{
    display: none;
    color: green;
}
.headerdiv{
    display: flex;
    background: linear-gradient(to right top , rgba(0, 128, 0, 0.53) , rgba(255, 255, 255, 0.064) ),url("./images/biotechnology-examples-types.jpg");
    background-repeat: no-repeat;
    height:700px;
    width:100%;
    margin-top:50px;
    align-items:center;
    background-size: 100% 100%;
    flex-wrap: wrap;
  position: relative;
}
.content h1{
    font-size:50px;
    color:white
    
}
.content{
    padding-left:50px
}
.headerdiv button{
    background-color: darkgreen;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    
}
.headerdiv button:hover{
    background-color: white;
    color: darkgreen;
    cursor: pointer;

}
.welcome{
    display: flex;
    background-color: darkgreen;
    color: white;
    padding: 50px 2%;
    position: absolute;
    top: 80%;
    left: 25%;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.welcome p{
    margin-top: 10px;
    text-align: justify;
}
.welcome:hover{
    box-shadow: 0 0 10px black;
}
.section{
    padding-top: 39vh;
    text-align: center;
}
.heading{
    /* color: white;
    background-color: darkgreen;
   padding: 10px 0; */
   color: darkgreen;
}
.heading{
    position: relative;
}
.heading::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: darkgreen;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cardcontainer{
    padding: 30px 5%;
    text-align: center;
   
}
.servicecards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width:300px;
    height: 400px;
    padding: 60px 0;
    position: relative;
    margin: 10px 0;
}
.card .up img{
    width: 300px;
    height: 200px;
    position: relative;
    transition: all .5s;
}
.card .up img:hover{
    scale: 110%;
   
}
.card .down{
    width: 270px;
    top: 60%;
    left: 15px;
    height: 200px;
    background-color: rgb(0, 100, 0);
    color: white;
    bottom: 30%;
    position: absolute;
    padding: 30px 10px;
    box-shadow: 0 0 10px black;
    text-align: left;
   
}
.card a{
    color: white;
    text-decoration: none;
    font-style: bold;
    font-size: 20px;
}
.card a:hover{
  text-shadow: 0 0 5px white;
}
.card p{
    margin-top: 10px;
}
.cardcontainer button{
    font-size: 20px;
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 80px;
    border:2px solid white 
}
.cardcontainer button:hover{
    background-color: white;
    color: darkgreen;
    border-color: darkgreen;
}
.newssection{
    padding: 50px 10%;
    background-color: darkgreen;
    text-align: center;
}
.newscardsection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: darkgreen;
}
.newscard{
    width: 50%;
    height: 200px;
    background-color: darkgreen;
    color: white;
    padding: 40px 10px;
    position: relative;
    margin: 10px 0;
    text-align: left;
    

}
.newscard p{
    margin-top: 10px;
}
.newscard:hover{
    box-shadow: 0 0 2px black;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.58);
    color: darkgreen;
    
}
.newssection button{
    font-size: 20px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 60px;
    cursor: pointer;
    border: white solid;
}
.newssection button:hover{
    background-color: rgba(255, 255, 255, 0.957);
    color: darkgreen;
}
.newscard a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.newscardsection .newscard:nth-child(1){
    font-size: 30px;
    border-left: white solid ;
    padding-top: 10px;
}
article{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-around;
}
article div{
    width: 50%;
    background-color: darkgreen;
    color: white;
    padding: 60px 5% 50px 10%;
}
article img{
    width: 300px;
    height: 300px;
    margin: 30px;
  
    
}
article div p,article div h3{
    padding-top: 10px;
}
article div p{
    font-style: italic;
}
.projectsection h1{
    margin-top: 10%;
   
    text-align: center;
}
.projectcontainer{
    margin-top: 10%;
    display: flex;
    flex-wrap:wrap ;
    padding: 10px 5%;
    justify-content: space-around;


}
.projectbox{
    margin-top: 30px;
    width: 30%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background-size:  100% 100%;

}
.projectbox:nth-child(1){
    background-image:url(./images/precisionmed.jpg) ;
}
.projectbox:nth-child(2){
    background-image:url(./images/biocomputing.jpg) ;
}
.projectbox:nth-child(3){
    background-image:url(./images/nextgenvaccine.jpg) ;
}

.projectcard{
    width: 100%;
    height: 400px;
    padding: 30px 10px;
    top: 74%;
    position: absolute;
    color:white;
    transition: all .5s;
    background:linear-gradient(to bottom ,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.865)) ;

}
.projectcard a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
}
.projectcard p{
   margin-top: 30%;
    position: absolute;
}
.projectbox:hover .projectcard{
    top: 0%;
    background:linear-gradient(to bottom ,rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.865)) ;
}
footer{
    padding: 50px ;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
}

footer .right img{
    width: 80%;
    display: block;
    margin: auto;
}
footer div{
    width:30%;
    padding: 30px;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 20px 10px;
}

@media (max-width:768px){
    nav .dropdown{
        display: none;
        position: fixed;
        top: 90px;
        padding: 20px 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);

    }

    nav a{
        display: block;
        width: 100%;
        height: 30px;

    }
    nav .logo img{
        width: 180px;
        
    }
    .toggleBTN{
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
    .headerdiv{
        height: 400px;
        width:100%;
    }
    .content h1{
        font-size: 30px;
    }
    .headerdiv button{
        font-size:medium
    }
    .welcome{
        background-color: darkgreen;
        color: white;
        padding: 30px 2%;
        position: absolute;
        top: 90%;
        left: 10%;
        width: 80%;
        border-radius: 10px;
    }
    .welcome h1{
        font-size: 20px;
    }
    .section{
        padding-top: 52vh;
        text-align: center;
    }
    .heading h1{
        font-size: 30px;
    }
    .cardcontainer button{
        font-size: medium;
    }
    .newscard{
        width: 100%;
    }

    .newssection button{
        font-size: medium;
    }
    
    .projectsection h1{
        font-size: 30px;
    }
    .projectcontainer{
        width: 100%;
    }
    .projectcard{
        width: 100%;
    }
    .projectcard a{
        font-size: 20px;
    }
     .projectbox{
        margin: 10px;
        width: 90%;
     }
     footer div{
        width:100%
    }
    footer .right img{
        width:50%;
    }

   
}

@media (max-width:500px){
    article img{
        width: 100%;
    }
    article div{
        width: 100%;
    }
    footer .right img{
        width:80%;
    }

}